/*.item-1{
	position: relative;
	right: 10px;
}*/


/*.item-1{
	position: absolute;
	right: 10px;
}*/

/*.item-5{
	position: fixed;
}*/

/*
.item-6{
	position: sticky;
	top: 100px;
}

.item-7{
	position: sticky;
	top: 100px;
}*/